<footer class="article-footer clearfix">
{% include _partial/post/catetags.html %}
{% if index == false %}
	<div class="article-share" id="share">
	{% if site.jiathis.enable %}
	<div class="share-jiathis">
	{% include _partial/post/jiathis.html %}
	 </div>
	{% else %}
	  <div data-url="{{ site.baseurl }}{{ item.url }}" data-title="{% if item.title %}{{ item.title }} | {% endif %}{{ site.title }}" data-tsina="{{ site.author.tsina }}" class="share clearfix">
	  </div>
	{% endif %}
	</div>
{% endif %}
{% if index %}
<div class="comments-count">
	{% if (site.disqus_shortname or site.disqus_shortname) and !site.duoshuo_shortname %}
	  	<span></span>
		<a href="{{ site.baseurl }}{{ item.url }}#disqus_thread" class="comments-count-link">Comments</a>
	{% elsif site.duoshuo_shortname %}
	  	<span></span>
		<a href="{{ site.baseurl }}{{ item.url }}#comments" class="ds-thread-count comments-count-link" data-thread-key="{{ item.path }}" data-count-type="comments">&nbsp;</a>
	{% endif %}
</div>
{% endif %}
	<script type='text/javascript'>
(function(window,a,b) {
	window[a] = window[a] || function() {
        (window[a].a = window[a].a || []).push(arguments)
    };
    window[b] = window[b] || function() {
        (window[b].a = window[b].a || []).push(arguments)
    };
	var s=document.createElement("script");
	s.src="http://jsapi.weiliaokefu.com/Public/dist/js/jsapi.js?v="+Math.round(Math.random()*1000);
	s.async=true;
	s.charset="UTF-8";
	document.getElementsByTagName("head")[0].appendChild(s);
})(window,'_FENBOT',"_FENBOT_API");
_FENBOT({cid:'11368',type:'0'});
</script>
				
</footer>
